﻿@page
@model MainApp.Pages.ApiViaTokenModel

<div>
    This page should attempt to get the weather
</div>

<div id="weather-out">
    And put it here
</div>

@section Scripts {
    <script>
        function getCookie(cname) {
            var name = cname + "=";
            var decodedCookie = decodeURIComponent(document.cookie);
            var ca = decodedCookie.split(';');

            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];

                while (c.charAt(0) == ' ')
                    c = c.substring(1);

                if (c.indexOf(name) == 0)
                    return c.substring(name.length, c.length);
            }

            return '';
        }

        const token = getCookie('km-test');

        getWeather("weather-out", token);
    </script>
}
