﻿@page
@model MainApp.Pages.ApiViaCookiesModel

<div>
    This page should attempt to get the weather
</div>

<div id="weather-out">
    And put it here
</div>

@section Scripts {
    <script>
        getWeather("weather-out");
    </script>
}
